{% load i18n %}
{% load l10n %}

<script type="application/javascript" id='studioContext'>
    var studioContext = {
      course: {
        lang: "{{ course.lang }}",
        url_name: "{{ course.url_name }}",      // "course",
        name: "{{ course.display_name }}",      //"My Course Drag and Drop",
        display_course_number: "",
        num: "{{ course.number }}",             // "NOAH-001",
        org: "{{ course.org }}",                // "edX",
        id: "{{ course_id }}",                  // "course-v1:edX+NOAH-001+course",
        revision: "",
        base_url: "http://localhost:18010",
      },
      showFilterAndList: false,
      collapseBorder: true,
      supportedFileTypes: ".pdf, .jpg, .png",
      help_tokens: {
        files: "http://edx.readthedocs.io/projects/open\u002Dedx\u002Dbuilding\u002Dand\u002Drunning\u002Da\u002Dcourse/en/latest/course_assets/course_files.html",
        image_accessibility: "http://edx.readthedocs.io/projects/open\u002Dedx\u002Dbuilding\u002Dand\u002Drunning\u002Da\u002Dcourse/en/latest/accessibility/best_practices_course_content_dev.html#use\u002Dbest\u002Dpractices\u002Dfor\u002Ddescribing\u002Dimages",
      },
      upload_settings: {
        max_file_size_in_mbs: 10,
      }
    };
</script>

<div class="xblock--drag-and-drop--editor editor-with-buttons">

    <div class="drag-builder">
        <div class="supported-setting-tags" id="supported-setting-tags">
            <ul class="supported-setting-tags-nav" id="supported-setting-tags-nav">
                {% for defined_tab in predefined_tabs %}
                <li class="nav-item" id="{{ defined_tab.id }}">
                    {% trans defined_tab.name %}
                </li>
                {% endfor %}
            </ul>

            <section id="0" class="tab feedback-tab">
                <div class="tab-content">
                    <form class="feedback-form">
                        <label class="h4">
                            <span>
                                <span class="text">{% trans fields.display_name.display_name %}</span>
                                <label class="checkbox-label" title="{% trans fields.show_title.help %}">
                                  <span class="sr">{% trans fields.show_title.help %}</span>
                                </label>
                            </span>
                            <input class="display-name" value="{{ self.display_name }}" />
                            <div class="title_button"><i class="fa-light fa-arrow-rotate-left"></i></div>
                        </label>

                        <label class="h4">
                            <span>{% trans fields.weight.display_name %}</span>
                            <input class="weight input_box" type="number" step="0.1" value="{{ self.weight|unlocalize }}" />
                            <span class="question-mark-wrapper" data-title="{% trans fields.weight.help %}"></span>
                        </label>
                        <div id="weight-description-{{id_suffix}}" class="assessment-setting form-help">
                          {% trans fields.weight.help %}
                        </div>

                        <label class="h4">
                            <span>
                                <span class="text">{% trans fields.question_text.display_name %}</span>
                            </span>
                            {% if self.question_text %}
                            <textarea class="problem-text">{{ self.question_text }}</textarea>
                            {% else %}
                            <textarea class="problem-text">{{ default_start_feedback }}</textarea>
                            {% endif %}
                        </label>

                        <div id="show-problem-header-description-{{id_suffix}}" class="form-help">
                          {% trans fields.show_question_header.help %}
                        </div>

                        <label class="h4">
                            <span>{% trans "Final feedback" %}</span>
                            {% if self.data.feedback.finish %}
                            <textarea class="final-feedback">{{ self.data.feedback.finish }}</textarea>
                            {% else %}
                            <textarea class="final-feedback">{{ default_finish_feedback }}</textarea>
                            {% endif %}
                        </label>
                    </form>
                </div>
            </section>

            <section id="1" class="tab background-image-tab hidden">
                <div class="tab-content">
                    <div class="drag-drop-tip">
                        {% trans "Please drag & drop a file or choose one of our background" %}
                    </div>
                    <div id="root" class="SFE"></div>
                    <link rel="stylesheet" type="text/css" href="{{ common_min_css }}" />
                    <link rel="stylesheet" type="text/css" href="{{ assets_min_css }}" />
                    <script type="text/javascript" src="{{ runtime_min_js }}"></script>
                    <script type="text/javascript" src="{{ common_min_js }}"></script>
                    <script type="text/javascript" src="{{ assets_min_js }}"></script>
                    <ul class="supported-template-patterns">
                        {% for tpl_summary in tpl_summaries %}
                        <li class="pattern-item" id="background-type-{{ tpl_summary.type_id }}">
                             <div id="item-selected-circle-{{ tpl_summary.type_id }}" class="item-selected-circle">
                                <svg width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.3898 0.360161C10.5375 0.505474 10.5375 0.744536 10.3898 0.889849L4.01484 7.26485C3.86953 7.4125 3.63047 7.4125 3.48516 7.26485L0.109828 3.88985C-0.0366094 3.74454 -0.0366094 3.50547 0.109828 3.36016C0.256172 3.21251 0.493594 3.21251 0.640078 3.36016L3.75 6.47032L9.86016 0.360161C10.0055 0.213442 10.2445 0.213442 10.3898 0.360161Z" fill="white"/>
                                </svg>
                            </div>
                            <div id="item-select-circle-{{ tpl_summary.type_id }}" class="item-select-circle">
                                <svg width="8" height="2" viewBox="0 0 8 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.166667 0.4375H7.83333C7.92542 0.4375 8 0.521406 8 0.625V1.375C8 1.47859 7.92542 1.5625 7.83333 1.5625H0.166667C0.0745831 1.5625 0 1.47859 0 1.375V0.625C0 0.521406 0.0745831 0.4375 0.166667 0.4375Z" fill="white"/>
                                </svg>
                            </div>
                            {% if tpl_summary.type_id == 0 or tpl_summary.type_id == 1 %}
                            <div class="pattern-image" id="{{ tpl_summary.type_id }}" style="background-image: url('{{ tpl_summary.thumbnail }}')"></div>
                            {% elif tpl_summary.type_id == 2 %}
                            <div class="pattern-no-background">{% trans "No background (Zone only)" %}</div>
                            {% elif tpl_summary.type_id == 3 %}
                            <div class="pattern-image" id="id-background-thumbnail"></div>
                            {% endif %}
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </section>

            <section id="2" class="tab zones-tab hidden">
                <div class="tab-content">
                    <form class="zones-form">
                        <div class="tab-content">
                            <div class="zones-tips">
                                <div>Click on Add Zone and create your zone using your mouse.</div>
                                <div>You can modify your Zone name by clicking on the name once you created the Zone.</div>
                            </div>
                            <div class="operation_bar">
                                <button type="button" class="btn" id="id_add_zone_bt">{% trans "+ Add Zone" %}</button>
                            </div>
                            <div class="drag_drop_area" id="id_author_canvas">

                            </div>
                        </div>
                        <div class="zones_settings">
                            <div id="id_switcher_rectangles_border" class="setting_flag display-borders-form">
                                <input name="display-borders" class="display-borders" type="checkbox" />
                                <div class="switcher-wrapper"></div>
                                <div class="switcher_text">{% trans "Display zone borders on the image" %}</div>
                            </div>
                            <div class="setting_flag display-labels-form">
                                <input name="display-labels" class="display-labels" type="checkbox" />
                                <div class="switcher-wrapper"></div>
                                <div class="switcher_text">{% trans "Display label names on the image" %}</div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>

            <section id="3" class="tab items-tab hidden">
                <div class="tab-content">
                    <div class="drag-drop-tip">
                        {% trans "Add your Answers and attribute the correct zones for each." %}
                    </div>
                    <form class="item-styles-form">
                        <div class="tab-content">
                            <div class="drag_drop_area" id="id_preview_canvas">
                            </div>
                        </div>

                        <label class="h4">
                            <span>{% trans fields.item_background_color.display_name %}</span>
                            <input class="item-background-color"
                                   value="{{ self.item_background_color }}"
                                   aria-describedby="item-background-color-description-{{id_suffix}}">
                            <span class="question-mark-wrapper" data-title="{% trans fields.item_background_color.help %}"></span>
                        </label>
                        <div id="item-background-color-description-{{id_suffix}}" class="form-help">
                          {% trans fields.item_background_color.help %}
                        </div>
                        <label class="h4">
                            <span>{% trans fields.item_text_color.display_name %}</span>
                            <input class="item-text-color"
                                   value="{{ self.item_text_color}}"
                                   aria-describedby="item-text-color-description-{{id_suffix}}">
                            <span class="question-mark-wrapper" data-title="{% trans fields.item_text_color.help %}"></span>
                        </label>
                        <div id="item-text-color-description-{{id_suffix}}" class="form-help">
                          {% trans fields.item_text_color.help %}
                        </div>
                        <label class="h4">
                            <span>{% trans fields.max_items_per_zone.display_name %}</span>
                            <input type="number" min="1" step="1" class="max-items-per-zone"
                                   value="{{ self.max_items_per_zone|unlocalize }}"
                                   aria-describedby="max-items-per-zone-description-{{id_suffix}}">
                            <span class="question-mark-wrapper" data-title="{% trans fields.max_items_per_zone.help %}"></span>
                        </label>
                        <div id="max-items-per-zone-description-{{id_suffix}}" class="form-help">
                          {% trans fields.max_items_per_zone.help %}
                        </div>
                    </form>
                </div>
                <div class="tab-content">
                    <h4>{% trans "Item definitions" %}</h4>
                    <form class="items-form"></form>
                    <button class="btn add-item add-element">
                        <span class="icon fal fa-plus" aria-hidden="true"></span>
                        {% trans "Add an item" %}
                    </button>
                </div>
            </section>

        </div>

    </div>

    <div class="xblock-actions xblock-actions-separator">
      <ul class="action-buttons">
        <li class="action-item">
          <a href="#" class="button cancel-button">{% trans "Cancel" %}</a>
        </li>
        <li class="action-item hidden" id="id_xblock_save_button">
          <a href="#" class="button action-primary save-button">{% trans "Save" %}</a>
        </li>
        <li class="action-item" id="id_xblock_save_and_continue_button">
          <a href="#" class="button action-primary save-continue-button">{% trans "Save" %}</a>
        </li>
      </ul>
    </div>
</div>
