{% load i18n %}
{% load l10n %}

<script type="application/javascript" id='studioContext'>
    var studioContext = {
      course: {
        lang: "fr",
        url_name: "course",
        name: "edX Demonstration Course",
        display_course_number: "",
        num: "DemoX",
        org: "edX",
        id: "course-v1:edX+DemoX+Demo_Course",
        revision: "",
        base_url: "http://localhost:18010",
      },
      showFilterAndList: false,
      collapseBorder: true,
      supportedFileTypes: ".pdf, .jpg, .png",
      help_tokens: {
        files: "http://edx.readthedocs.io/projects/open\u002Dedx\u002Dbuilding\u002Dand\u002Drunning\u002Da\u002Dcourse/en/latest/course_assets/course_files.html",
        image_accessibility: "http://edx.readthedocs.io/projects/open\u002Dedx\u002Dbuilding\u002Dand\u002Drunning\u002Da\u002Dcourse/en/latest/accessibility/best_practices_course_content_dev.html#use\u002Dbest\u002Dpractices\u002Dfor\u002Ddescribing\u002Dimages",
      },
      upload_settings: {
        max_file_size_in_mbs: 10,
      }
    };
</script>

<div class="xblock--drag-and-drop--editor editor-with-buttons">

    <div class="drag-builder">
        <div class="supported-setting-tags" id="supported-setting-tags">
            <ul class="supported-setting-tags-nav" id="supported-setting-tags-nav">
                {% for defined_tab in predefined_tabs %}
                <li class="nav-item" id="{{ defined_tab.id }}">
                    {% trans defined_tab.name %}
                </li>
                {% endfor %}
            </ul>

            <section id="0" class="tab feedback-tab">
                <div class="tab-content">
                    <form class="feedback-form">
                        <label class="h4">
                            <span>
                                <span class="text">{% trans fields.display_name.display_name %}</span>
                                <label class="checkbox-label" title="{% trans fields.show_title.help %}">
                                  <span class="sr">{% trans fields.show_title.help %}</span>
                                </label>
                            </span>
                            <input class="display-name" value="{{ self.display_name }}" />
                        </label>

                        <label class="h4">
                            <span>{% trans fields.weight.display_name %}</span>
                            <input class="weight" type="number" step="0.1" value="{{ self.weight|unlocalize }}" />
                            <span class="question-mark-wrapper" data-title="{% trans fields.weight.help %}"></span>
                        </label>
                        <div id="weight-description-{{id_suffix}}" class="assessment-setting form-help">
                          {% trans fields.weight.help %}
                        </div>

                        <label class="h4">
                            <span>
                                <span class="text">{% trans fields.question_text.display_name %}</span>
                            </span>
                            <textarea class="problem-text">{{ self.question_text }}</textarea>
                            <span class="question-mark-wrapper" data-title="{% trans fields.show_question_header.help %}"></span>
                        </label>

                        <div id="show-problem-header-description-{{id_suffix}}" class="form-help">
                          {% trans fields.show_question_header.help %}
                        </div>

                        <label class="h4">
                            <span>{% trans "Final feedback" %}</span>
                            <textarea class="final-feedback">{{ self.data.feedback.finish }}</textarea>
                        </label>
                    </form>
                </div>
            </section>

            <section id="1" class="tab background-image-tab hidden">
                <div class="tab-content">
                    <div class="drag-drop-tip">
                        {% trans "Please drag & drop a file or choose one of our background" %}
                    </div>
                    <div id="root" class="SFE"></div>
                    <link rel="stylesheet" type="text/css" href="{{ common_min_css }}" />
                    <link rel="stylesheet" type="text/css" href="{{ assets_min_css }}" />
                    <script type="text/javascript" src="{{ runtime_min_js }}"></script>
                    <script type="text/javascript" src="{{ common_min_js }}"></script>
                    <script type="text/javascript" src="{{ assets_min_js }}"></script>
                    <ul class="supported-template-patterns">
                        {% for tpl_summary in tpl_summaries %}
                        <li class="pattern-item">
                            <img class="pattern-image" id="{{ tpl_summary.type_id }}" src="{{ tpl_summary.thumbnail }}"/>
                        </li>
                        {% endfor %}
                        <li class="pattern-item" id="id-pattern-no-background">
                            <div class="pattern-no-background">{% trans "No background (Zone only)" %}</div>
                        </li>
                    </ul>
                </div>
            </section>

            <section id="2" class="tab zones-tab hidden">
                <div id="rectangle_editor" class="tab-content">
                    <div class="zones-tips">
                        <div>Click on Add Zone and create your zone using your mouse.</div>
                        <div>You can modify your Zone name by clicking on the name once you created the Zone.</div>
                    </div>
                    <div class="operation_bar">
                        <button type="button" class="btn" id="id_add_zone_bt">{% trans "+ Add Zone" %}</button>
                    </div>
                    <div class="drag_drop_area">
                        <div class="left resizable_box_container"></div>
                        <div class="right resizable_box_container"></div>
                    </div>
                </div>
                <div class="zones_settings">
                    <div class="setting_flag">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        <span>{% trans "Display zone borders on the image" %}</span>
                    </div>
                    <div class="setting_flag">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        <span>{% trans "Display label names on the image" %}</span>
                    </div>
                </div>
            </section>

            <section id="3" class="tab items-tab hidden">
                <div class="tab-content">
                    <form class="item-styles-form">
                        <label class="h4">
                            <span>{% trans fields.item_background_color.display_name %}</span>
                            <input class="item-background-color"
                                   value="{{ self.item_background_color }}"
                                   aria-describedby="item-background-color-description-{{id_suffix}}">
                            <span class="question-mark-wrapper" data-title="{% trans fields.item_background_color.help %}"></span>
                        </label>
                        <div id="item-background-color-description-{{id_suffix}}" class="form-help">
                          {% trans fields.item_background_color.help %}
                        </div>
                        <label class="h4">
                            <span>{% trans fields.item_text_color.display_name %}</span>
                            <input class="item-text-color"
                                   value="{{ self.item_text_color}}"
                                   aria-describedby="item-text-color-description-{{id_suffix}}">
                            <span class="question-mark-wrapper" data-title="{% trans fields.item_text_color.help %}"></span>
                        </label>
                        <div id="item-text-color-description-{{id_suffix}}" class="form-help">
                          {% trans fields.item_text_color.help %}
                        </div>
                        <label class="h4">
                            <span>{% trans fields.max_items_per_zone.display_name %}</span>
                            <input type="number" min="1" step="1" class="max-items-per-zone"
                                   value="{{ self.max_items_per_zone|unlocalize }}"
                                   aria-describedby="max-items-per-zone-description-{{id_suffix}}">
                            <span class="question-mark-wrapper" data-title="{% trans fields.max_items_per_zone.help %}"></span>
                        </label>
                        <div id="max-items-per-zone-description-{{id_suffix}}" class="form-help">
                          {% trans fields.max_items_per_zone.help %}
                        </div>
                    </form>
                </div>
                <div class="tab-content">
                    <h4>{% trans "Item definitions" %}</h4>
                    <form class="items-form"></form>
                    <button class="btn add-item add-element">
                        <span class="icon fal fa-plus" aria-hidden="true"></span>
                        {% trans "Add an item" %}
                    </button>
                </div>
            </section>

        </div>

    </div>

    <div class="xblock-actions xblock-actions-separator">
      <ul class="action-buttons">
        <li class="action-item">
          <a href="#" class="button cancel-button">{% trans "Cancel" %}</a>
        </li>
        <li class="action-item hidden">
          <a href="#" class="button action-primary save-button">{% trans "Save" %}</a>
        </li>
        <li class="action-item">
          <a href="#" class="button action-primary continue-button">{% trans "Continue" %}</a>
        </li>
      </ul>
    </div>
</div>
